# Datadog Role Variables
datadog_api_key: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          65333032646530386338653736643034663061633734646431396438626438613366316432643766
          6631626633623064646532653561343531343837303865610a383462626363326431356338646161
          30366232313366626665353831333864393931623962346132363437363962616232613265373035
          3836373962613764310a373833396435353836653932616662346262656264343637343863353461
          64303038643330663964313361316662323331316632353666663539336261663933613934666466
          3065343261356265633433356235643538366134383236656333

cloudflare_api_key: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          61303438633861383062393563323336633236333364653966363037313561623739346339626335
          3861323937323133303862316436633363323237326336330a643166363364343336303461306564
          36393735323939366562623864386536656462383363323734383762353465663633653339353633
          3862653230313361300a613462636264396135383235663963626165303531336536323338306436
          65373433663839643664366139366434633433366632636338353264336666636466363662623031
          3139383632653534643833353361373232663561653331333663

datadog_config:
  apm_config:
    enabled: true
    apm_non_local_traffic: true
  dogstatsd_non_local_traffic: true
  logs_enabled: true
  logs_config:
    container_collect_all: true
  process_config:
    enabled: "true"
  listeners:
    - name: docker
  config_providers:
    - name: docker
      polling: true
  
network_config:
  enabled: false

datadog_additional_groups: docker

datadog_checks:
  docker:
    instances:
      - url: "unix://var/run/docker.sock"